@page "/inventory-category"
@using TheHighInnovation.POS.Web.Services.Alert
@using TheHighInnovation.POS.Web.Services.Base
@inject BaseService BaseService
@inject SweetAlert SweetAlertService

<div class="container-fluid inventorycategorypage">
    <div class="row">

    <div class="col-6 category-heading">
     <p>Category</p>   
    </div>
    <div class="col-6   AddCatogeryBtn">
            <button class="addbutton justify-content-end" @onclick="OpenCategoryUpsertModel">Add Category</button>
    </div>
    </div>


    <div class="row row search-panel">
       @*  <span class="categorynamelabel">Category Name:</span><input type="text" placeholder="Category Name" @bind="categoryFilter.CategoryName" class="categorynameinput"> *@
   <div class="col-12">

       <input type="text" placeholder="Search" @bind="categoryFilter.CategoryCode" class="categorycodeinput">
        <button class="searchbutton" @onclick="HandleSearch"> @* <i class="fa fa-search"></i> *@ Search  </button>
       </div>
       
    </div>
@*     <div class="search-panel">

    <div class="input-group">
        <div class="form-outline" data-mdb-input-init>
            <input type="search" id="form1" class="form-control" />
            <label class="form-label" for="form1">Search</label>
        </div>
        <button type="button" class="btn btn-primary" data-mdb-ripple-init>
            <i class="fas fa-search"></i>
        </button>
    </div> *@
    </div>

    @if (OpenCategoryModel)
    {
        <ModalDialog OnClose="@OnUpsertCategory" OkLabel="@_dialogOkLabel" Title="@_dialogTitle">
            <div class="modal-body">
               @*  <div class="container">
                    <div class="row">
                        <div class="col">
                            <div>
                                <label for="categoryname" class="categoryname">Category Name</label>
                                <input type="text" name="categoryname" class="categorynameinput" @bind="_categoryResponseDTO.CategoryName" />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="col-12">
                                <label for="categorydescription" class="categorydescription">Category Description</label>
                                <textarea type="text" name="categorydescription" class="categorydescriptioninput" @bind="_categoryResponseDTO.CategoryDescription"></textarea>
                            </div>
                        </div>                       
                    </div>
                </div> *@
                <form>
                    <div class="form-group col-6">
                        <label for="categoryname" >Category Name</label>
                    <input type="text" name="categoryname" class="categorynameinput form-control" @bind="_categoryResponseDTO.CategoryName" />
                    </div>
                    <div class="form-group">
                        <label for="categorydescription">Category Description</label>
                    <textarea type="text" name="categorydescription" row="15" class="categorydescriptioninput form-control" @bind="_categoryResponseDTO.CategoryDescription"></textarea>
                    </div>
</form>
            </div>
            @if (!string.IsNullOrEmpty(_message))
            {
                <div class="alert alert-danger" role="alert">
                    @_message
                </div>
            }
        </ModalDialog>
    }

    @if (categoryFilter.IsInitialized)
    {
        @if (categoryList != null)
        {
            <div class="table-container">

          
        <table class="categorytable table table-striped table-hover">
                <thead>
                    <tr>
                    <th class="thfirst">Category Name</th>
                        <th> Code</th>
                        <th>Description</th>
                        <th class="thlast">Actions</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in categoryList)
                    {
                        <tr>
                            <td>@item.CategoryName</td>
                            <td>@item.CategoryCode</td>
                            <td>@item.CategoryDescription</td>
                            <td class="action-icon">
                            <i class="fa-solid fa-trash trash-icon"></i>
                               <i @onclick="() => LoadCategoryForUpdate(item.Id)" class="fas fa-edit updatebutton"></i>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        }
        else
        {
            <p>No categories found.</p>
        }

        @if (_pagerDto.TotalPages > 0)
        {
            <div class="row paginationpart">
                <div class="col-lg-3 col-md-3 col-sm-4 d-flex justify-content-start">
                    <div class="col ">
                        <span class="selecttext">Current Entries:</span>
                        <select class="selectcompany" @onchange="HandlePaginationChange">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 d-flex pagination-wrapper justify-content-end align-items-center">
                    <ul class="pagination justify-content-end">
                        @if (_pagerDto.CurrentPage > 1)
                        {
                            <li class="page-item pointer px-1">
                                <a class="page-link" @onclick="() => OnPagination(1)">First</a>
                            </li>
                            <li class="page-item pointer px-1">
                                <a class="page-link" @onclick="() => OnPagination(_pagerDto.CurrentPage - 1)">Previous</a>
                            </li>
                        }
                        @if (_pagerDto.TotalPages > 1)
                        {
                            @for (var pageItem = _pagerDto.StartPage; pageItem <= _pagerDto.EndPage; pageItem++)
                            {
                                var currentPageItem = pageItem;
                                <li class="page-item pointer px-1 @(currentPageItem == _pagerDto.CurrentPage ? "active" : "")">
                                    <a class="page-link" @onclick="() => OnPagination(currentPageItem)">@currentPageItem</a>
                                </li>
                            }
                        }
                        @if (_pagerDto.CurrentPage < _pagerDto.TotalPages && _pagerDto.TotalItems > _pagerDto.PageSize)
                        {
                            <li class="page-item pointer px-1">
                                <a class="page-link" @onclick="() => OnPagination(_pagerDto.CurrentPage + 1)">Next</a>
                            </li>
                            <li class="page-item pointer px-1">
                                <a class="page-link" @onclick="() => OnPagination(_pagerDto.TotalPages)">Last</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
    }
    
