@page "/lock-report"
@using TheHighInnovation.POS.Web.Model.Request.Report
@using TheHighInnovation.POS.Web.Model.Response.User
@using TheHighInnovation.POS.Web.Models
@using TheHighInnovation.POS.Web.Services.Base

@inject BaseService BaseService

<h3>User Lock Report</h3>

<label class="form-control">Start Date</label>
<input @bind="_search.StartDate" type="date" class="form-control" />

<label class="form-control">End Date</label>
<input @bind="_search.EndDate" type="date" class="form-control" />

<button @onclick="HandleSubmit" class="form-control">Search</button>

@if (_lockDetails != null && _lockDetails.Any())
{
    <table>
        <thead>
        <th>
            Date
        </th>
        <th>Lock Time</th>
        <th>Unlock Time</th>
        <th>Cashier ID</th>
        <th>Cashier Name</th>
        </thead>
        <tbody>
        @foreach (var items in _lockDetails)
        {
            <tr>
                <td>@items.Date.ToString("yyyy-MM-dd")</td>
                <td>@items.LockTime</td>
                <td>@items.UnlockTime</td>
                <td>@items.UserId</td>
                <td>@items.Name</td>
            </tr>
        }
        </tbody>
    </table>
    @if (_pagerDto.TotalPages > 0)
        {
            <div class="row paginationpart">
                <div class="col-lg-3 col-md-12 col-sm-12 d-flex justify-content-start">
                    <div class="col mt-1">
                        @if (_pagerDto.TotalPages > 0)
                        {
                            <span class="selecttext">Current Entries:</span>
                            <select class="selectcompany" @onchange="HandlePaginationChange">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                            </select>
                        }
                    </div>
                </div>
                <div class="col-lg-9 col-md-12 col-sm-12 d-flex pagination-wrapper justify-content-end align-items-center">
                    <ul class="pagination justify-content-end">
                        @if (_pagerDto.CurrentPage > 1)
                        {
                            <li class="page-item pointer px-1">
                                <a class="page-link" @onclick="() => OnPagination(1, _search.PageSize)">First</a>
                            </li>
                            <li class="page-item pointer px-1">
                                <a class="page-link" @onclick="() => OnPagination(_pagerDto.CurrentPage - 1, _search.PageSize)">Previous</a>
                            </li>
                        }
                        @if (_pagerDto.TotalPages > 1)
                        {
                            for (var pageItem = _pagerDto.StartPage; pageItem <= _pagerDto.EndPage; pageItem++)
                            {
                                var currentPageItem = pageItem;
                                <li class="page-item pointer px-1 @(currentPageItem == _pagerDto.CurrentPage ? "active" : "")">
                                    <a class="page-link" @onclick="() => OnPagination(currentPageItem, _search.PageSize)">@currentPageItem</a>
                                </li>
                            }
                        }
                        @if (_pagerDto.CurrentPage < _pagerDto.TotalPages && _pagerDto.TotalItems > _pagerDto.PageSize)
                        {
                            <li class="page-item pointer px-1">
                                <a class="page-link" @onclick="() => OnPagination(_pagerDto.CurrentPage + 1, _search.PageSize)">Next</a>
                            </li>
                            <li class="page-item pointer px-1">
                                <a class="page-link" @onclick="() => OnPagination(_pagerDto.TotalPages, _search.PageSize)">Last</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
}

@code {
    [CascadingParameter] 
    private GlobalState _globalState { get; set; }

    private ReportSearchDto _search { get; set; } = new();
    
    private List<UserLockResponseDto>? _lockDetails { get; set; }

    private PagerDto _pagerDto { get; set; } = new();

    private string _message { get; set; }

    private async Task HandleSubmit()
    {
        await LoadLockDetails(1, 5);
    }
    
    private async Task LoadLockDetails(int pageNumber, int pageSize)
    {
        try
        {
            var parameters = new Dictionary<string, string>
            {
                { "pageNumber", pageNumber.ToString()  },
                { "pageSize", pageSize.ToString()},
                { "startDate", _search.StartDate.ToString("yyyy-MM-dd") },
                { "endDate", _search.EndDate.ToString("yyyy-MM-dd") }
            };

            var details = await BaseService.GetAsync<Derived<List<UserLockResponseDto>>>("user-lock-details", parameters);
            
            if (details != null)
            {
                _lockDetails = details.Result;
                
                _pagerDto = new PagerDto(details.TotalCount ?? 1, pageNumber, _search.PageSize);
            }
            else
            {
                _message = "Nothing to display.";
            }
        }
        catch(Exception ex)
        {
            Console.WriteLine(ex.Message.ToString());
        }
    }
    
    private async Task HandlePaginationChange(ChangeEventArgs e)
    {
        if (e.Value == null) return;

        var pageSize = int.Parse(e.Value.ToString()!);

        _search.PageSize = pageSize;
        
        await OnPagination(1, pageSize);
    }

    private async Task OnPagination(int pageNumber, int pageSize)
    {
        _search.PageNumber = pageNumber;

        await LoadLockDetails(pageNumber, pageSize);
    }
}