@page "/cashier-corner"
@using TheHighInnovation.POS.Web.Services.Base
@inject BaseService BaseService
@inject IJSRuntime _jsRuntime

@if (_showLandingPage)
{
    <div class="row landingpage">
        @if (_showLandingCashierView)
        {
            <div class="col-3">
                <div class=" card maincard1">
                    <div class="tableedit">
                        <table id="datatable" class="Invoice">
                            <thead>
                            <tr>
                                
                                <th class="th2">Items</th>
                                <th class="th2">Qty</th>
                                <th class="th2">Rate</th>
                                <th class="th2">Dis</th>
                                <th class="th4">Total Amount</th>
                            </tr>
                            </thead>
                            
                            <tbody class="scrollfortable">
                            @foreach (var product in _itemsToAdd)
                            {
                                if (product.Quantity == 0)
                                {
                                    continue;
                                }
                                if (_selectedProduct?.Id == product.Id)
                                {
                                        <tr style="background-color: #d9d9d9;margin-top:5px; height:5vh;" @onclick="@(DeselectedProduct)">
                                         <td style="width:40%; overflow:hidden;">@product.Title</td>
                                        <td>@product.Quantity</td>
                                        <td>@product.UnitPrice</td>
                                        <td>@product.Discount</td>
                                        <td>@product.TotalPrice</td>
                                        @* <td>
                                            <button class="selectbtn" type="button" >Deselect</button>
                                        </td> *@
                                    </tr>
                                }
                                else
                                {
                                        <tr style="height:5vh;" @onclick="@(() => SetSelectedProduct(product.Id, product.Title,product.Quantity,product.Discount, product.UnitPrice))">

                                            <td style= "width:40%; overflow:hidden;">@product.Title</td>
                                        <td>@product.Quantity</td>
                                        <td>@product.UnitPrice</td>
                                        <td>@product.Discount</td>
                                        <td>@product.TotalPrice</td>
                                       @*  <td>
                                            <button class="selectbtn" type="button" >Select</button>
                                        </td> *@
                                    </tr>
                                }
                            }
                            </tbody>
                        </table>
                    </div>
                    <div class="container invoicebutton">
                        <span class="btn1">
                            @if (_selectedProduct == null)
                            {
                                <button type="button" @onclick="@(IncrementQuantity)" disabled="disabled">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            }
                            else
                            {
                                <button type="button" @onclick="@(IncrementQuantity)">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            }
                        </span>
                        <span class="btn2">
                            @if (_selectedProduct == null)
                            {
                                <button type="button" @onclick="@(DecrementQuantity)" disabled="disabled">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </button>
                            }
                            else
                            {
                                <button type="button" @onclick="@(DecrementQuantity)">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </button>
                            }
                        </span>
                    </div>
                    <div class="invoicetable">
                        <table>
                            <tbody>
                            <tr>
                                <th>Payable Amount</th>
                                    <td>Rs. @String.Format("{0:0.00}", _subTotalAmount)</td>

                            </tr>
                            <tr>
                                <th>Tax Amount</th>
                                    <td>Rs. @String.Format("{0:0.00}", _taxAmount)</td>

                            </tr>
                            <tr>
                                <th>Item Total Discount</th>
                                
                                    <td>Rs. @String.Format("{0:0.00}", _itemDiscount)</td>
                            </tr>
                            <tr>
                                <th>Overall Discount (as a whole)</th>
                                
                                    <td>Rs. @String.Format("{0:0.00}", _discount)</td>

                            </tr>

                            <tr>
                                <th>Total Discount</th>
                                
                                    <td>Rs. @String.Format("{0:0.00}", _totalDiscount)</td>
                            </tr>
                            <tr>
                                <th>Total Amount</th>
                                    <td>Rs. @String.Format("{0:0.00}", _totalAmount)</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-6 card maincard2 mt-0 oi-align-center">
                <div class="container cardandfunction">
                    <section class="productpart container">
                        @if (!_showMainCategories)
                        {
                            <a @onclick="OnGoBackClick">
                                <div class="sticky-top" id="goback">
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                </div>
                            </a>
                        }
                        <div class="row products">
                            @if (_showMainCategories)
                            {
                                foreach (var item in _items)
                                {
                                    var image = item.ItemImage;
                                    <div class="card cardstyle" id="@($"p_{item.ItemId}")">
                                        @if (item.HasSubCategories)
                                        {
                                            <a>
                                                <img src="@image" alt="product" onerror="this.onerror=null;this.src='images/defaulticon.svg';"
                                                     @onclick="() => OnCategoryClick(item.ItemId, item.ItemTitle)">
                                            </a>
                                            <i class="fa fa-star cardstar" aria-hidden="true"></i>
                                        }
                                        else
                                        {
                                            if (item.ItemType == "Product")
                                            {

                                                <a>
                                                    <img src="@image" alt="product" onerror="this.onerror=null;this.src='images/defaulticon.svg';"
                                                         @onclick="() => AddProductToTable(item.ItemId, item.ItemTitle)">
                                                </a>
                                            }
                                            else
                                            {
                                                <a><img src="@image" onerror="this.onerror=null;this.src='images/defaulticon.svg';" alt="product"></a>
                                            }
                                        }
                                        <p class="card-text">@item.ItemTitle</p>
                                        @* <p class="card-text">@item.HasSubCategories</p> *@
                                    </div>
                                }
                            }
                            else
                            {
                                foreach (var item in _subcategories)
                                {
                                    var image = item.Item.ItemImage;
                                    <div class="card cardstyle" id="@($"p_{item.Item.ItemId}")">
                                        @if (item.Item.HasSubCategories)
                                        {
                                            <i class="fa fa-star cardstar" aria-hidden="true"></i>
                                            <a><img src="@image" alt="product"
                                                    @onclick="() => OnCategoryClick(item.Item.ItemId, item.Item.ItemTitle)"></a>
                                        }
                                        else
                                        {
                                            if (item.Item.ItemType == "Product")
                                            {
                                                <a><img src="@image" alt="product"
                                                        @onclick="() => AddProductToTable(item.Item.ItemId, item.Item.ItemTitle)"></a>
                                            }
                                            else
                                            {
                                                <a><img src="@image" alt="product"></a>
                                            }
                                        }
                                        <p class="card-text">@item.Item.ItemTitle</p>
                                       @*  <p class="card-text">@item.Item.HasSubCategories</p> *@
                                    </div>
                                }
                            }
                        </div>
                    </section>
                    <section>
                        <section class="functionpart">
                            <span class="d-flex functionpartfirstrow">

                                <span class="joineddisbtn">
                                    @if (!_isDiscountSelectedbyprice)
                                    {
                                        <span class="discountbypercentage">
                                            <a @onclick="ToggleDiscountbyprice" id="discountButtonPrice">
                                                <button class="functionbutton">
                                                    Dis
                                                    <img src="/images/cashiercornericons/discountprice.png" class="discountpriceimage" />
                                                </button>
                                            </a>
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="discountbypercentage">
                                            <a @onclick="ToggleDiscountbyprice" id="discountButtonPrice">
                                                <button class="functionbutton" style="font-weight:600; color:red;">
                                                    Dis
                                                    <img src="/images/cashiercornericons/discountprice.png" class="discountpriceimage" />
                                                </button>
                                            </a>
                                        </span>
                                    }

                                    @if (!_isDiscountSelectedbypercentage)
                                    {
                                        <span class="discountbyprice">
                                            <a @onclick="ToggleDiscountbypercentage" id="discountButtonPercentage">
                                                <button class="functionbutton">
                                                    Dis
                                                    <img src="/images/cashiercornericons/discountpercentage.png" class="discountpriceimage" />
                                                </button>
                                            </a>
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="discountbyprice">
                                            <a @onclick="ToggleDiscountbypercentage" id="discountButtonPercentage">
                                                <button class="functionbutton" style="font-weight:600; color:red;">
                                                    Dis
                                                    <img src="/images/cashiercornericons/discountpercentage.png" class="discountpriceimage" />
                                                </button>
                                            </a>
                                        </span>
                                    }


                                </span>
                                <a>
                                    <button class="functionbutton">

                                        <img src="/images/salesReturn.png" />
                                        <br />
                                        Sales Return
                                    </button>
                                </a>
                                @if (!_isSaleSelected)
                                {

                                    <a @onclick="SetSale">
                                        <button class="functionbutton">
                                            <i class="fa-percent buttonicons" aria-hidden="true"></i>
                                            <br />Sale
                                        </button>
                                    </a>

                                }
                                else
                                {

                                    <a @onclick="SetSale">
                                        <button class="functionbutton" style="color:red;">
                                            <i class="fa-percent buttonicons" aria-hidden="true"></i>
                                            <br />Sale
                                        </button>
                                    </a>

                                }
                                <a>
                                    <button class="functionbutton lockbutton">
                                        <i class="fa fa-lock buttonicons" aria-hidden="true"></i>
                                        <br>Lock
                                    </button>
                                </a>



                            </span>
                            <a>
                                <button class="functionbutton " id="safedropbutton" @onclick="ShowSafeDrop">
                                    <i class="fa-solid fa-vault buttonicons"></i>
                                    <br>Safe Drop
                                </button>
                            </a>

                            <a>
                                <button class="functionbutton" id="searchbutton">
                                    <i class="fa fa-search buttonicons" aria-hidden="true"></i>
                                    <br>Search
                                </button>
                            </a>
                            <a>
                                <button class="functionbutton">
                                    <i class="fa fa-tag buttonicons" aria-hidden="true"></i>
                                    <br>Price Check
                                </button>
                            </a>
                            <a @onclick="ShowHoldDialog">
                                <button class="functionbutton">
                                    <i class="fa-solid fa-pause buttonicons"></i>
                                    <br>Take Away
                                    <span class="holdbadge">@_holdProducts.Count</span>
                                </button>
                            </a>
                            <a @onclick="ShowHoldDialogtable">
                                <button class="functionbutton">

                                    <i class="fa-solid fa-inbox buttonicons"></i>
                                    <br>Hold Table
                                    <span class="holdbadge holdbadgehotel">@_holdTables.Count </span>


                                </button>
                            </a>
                            <a @onclick="ShowReservedDialogTable">
                                <button class="functionbutton">
                                    <i class="fa-solid fa-hotel buttonicons"></i>
                                    <span class="holdbadge holdbadgehotel">@_holdRooms.Count </span>
                                    <br>Reservations
                                </button>
                            </a>
                            <a @onclick="VoidItem">
                                <button class="functionbutton">
                                    <i class="fa fa-times buttonicons" aria-hidden="true"></i>
                                    <br>Void Item
                                </button>
                            </a>

                            <a @onclick="VoidTransaction">
                                <button class="functionbutton">
                                    <i class="fa-regular fa-circle-xmark buttonicons"></i>
                                    <br>Void Transaction
                                </button>
                            </a>
                            <a>
                                <button class="functionbutton">
                                    <i class="fa fa-star buttonicons" aria-hidden="true"></i>
                                    <br>Star
                                </button>
                            </a>

                            <a @onclick="ShowCloseTill">
                                <button class="functionbutton" id="closetillbutton">
                                    <i class="fa-solid fa-circle-dollar-to-slot buttonicons" aria-hidden="true"></i>
                                    <br>Close Till
                                </button>
                            </a>
                        </section>
                    </section>
                </div>
            </div>
        }
        else {
            <div class="col-9 card maincard2 mt-0">
                @if (_showSafeDrop)
                {
                    <div class="row">
                        <div id="safedroptab" class="col-lg-9">
                            <div class="row">
                                <a @onclick="OnGoBackClick">
                                    <i class="fa fa-arrow-left gobacksafedrop" aria-hidden="true"></i>
                                </a>
                                <div class="safedropcard">
                                    <h2 class="modalsafedrophead">Safe Drop</h2>
                                    <div class="d-flex mt-2">
                                        <div class="col">
                                            <input class="safedropinput" type="number" value="1000" readonly>
                                        </div>
                                        <div class="col">
                                            <h3 class="mx-4">X</h3>
                                        </div>
                                        <div class="col">
                                            <input type="number" min="0" class="safedropinput" @bind="CashDetails.Rs1000">
                                        </div>
                                    </div>
                                    <div class="d-flex mt-2">
                                        <div class="col">
                                            <input class="safedropinput" type="number" value="500" readonly>
                                        </div>
                                        <div class="col">
                                            <h3 class="mx-4">X</h3>
                                        </div>
                                        <div class="col">
                                            <input type="number" min="0" class="safedropinput" @bind="CashDetails.Rs500">
                                        </div>
                                    </div>
                                    <div class="d-flex mt-2">
                                        <div class="col">
                                            <input class="safedropinput" type="number" value="100" readonly>
                                        </div>
                                        <div class="col">
                                            <h3 class="mx-4">X</h3>
                                        </div>
                                        <div class="col">
                                            <input type="number" min="0" class="safedropinput" @bind="CashDetails.Rs100">
                                        </div>
                                    </div>
                                    <div class="d-flex mt-2">
                                        <div class="col">
                                            <input class="safedropinput" type="number" value="50" readonly>
                                        </div>
                                        <div class="col">
                                            <h3 class="mx-4">X</h3>
                                        </div>
                                        <div class="col">
                                            <input type="number" min="0" class="safedropinput" @bind="CashDetails.Rs50">
                                        </div>
                                    </div>
                                    <div class="d-flex mt-2">
                                        <div class="col">
                                            <input class="safedropinput" type="number" value="20" readonly>
                                        </div>
                                        <div class="col">
                                            <h3 class="mx-4">X</h3>
                                        </div>
                                        <div class="col">
                                            <input type="number" min="0" class="safedropinput" @bind="CashDetails.Rs20">
                                        </div>
                                    </div>
                                    <div class="d-flex mt-2">
                                        <div class="col">
                                            <input class="safedropinput" type="number" value="10" readonly>
                                        </div>
                                        <div class="col">
                                            <h3 class="mx-4">X</h3>
                                        </div>
                                        <div class="col">
                                            <input type="number" min="0" class="safedropinput" @bind="CashDetails.Rs10">
                                        </div>
                                    </div>
                                    <div class="d-flex mt-2">
                                        <div class="col">
                                            <input class="safedropinput" type="number" value="5" readonly>
                                        </div>
                                        <div class="col">
                                            <h3 class="mx-4">X</h3>
                                        </div>
                                        <div class="col">
                                            <input type="number" min="0" class="safedropinput" @bind="CashDetails.Rs5">
                                        </div>
                                    </div>
                                    <div class="d-flex mt-2">
                                        <div class="col">
                                            <input class="safedropinput" type="number" value="2" readonly>
                                        </div>
                                        <div class="col">
                                            <h3 class="mx-4">X</h3>
                                        </div>
                                        <div class="col">
                                            <input type="number" min="0" class="safedropinput" @bind="CashDetails.Rs2">
                                        </div>
                                    </div>
                                    <div class="d-flex mt-2">
                                        <div class="col">
                                            <input class="safedropinput" type="number" value="1" readonly>
                                        </div>
                                        <div class="col">
                                            <h3 class="mx-4">X</h3>
                                        </div>
                                        <div class="col">
                                            <input type="number" min="0" class="safedropinput" @bind="CashDetails.Rs1">
                                        </div>
                                    </div>
                                    <div>
                                        <a> <button id="closesafedrop" type="button" class="my-3 modalsafedrop" @onclick="() => SafeDropCash()">Safe drop</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (_showCloseTill)
                {
                   
                            <a @onclick="OnGoBackClick" id="gobackclosetill" style="text-align:left;">
                                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            </a>
                            <div class="card closetillcard">

                                 <div class="cardheadclosetill">
                                    <label >Close Till Drawer Amount</label>
                                    <input @bind="_drawerAmount" class="form-control cardinput"/>
                                </div>
                                <div class="row cardbtngroup">
                                    <div class="col ">
                                        <button class="closetillbuttons" type="submit" @onclick="PrintCloseTillTransactionDetails">Print Close Till</button>
                                      </div>

                                     <div class="col">
                                        <button class="closetillbuttons" type="submit" @onclick="AddDrawerAmount">Save Amount</button>
                                     </div>
                                 </div>
                             </div>
                      
                }
                @* @if (_showBarCodeScan)
                {
                    <h3>@QRCodeResult</h3>
                    <section class="section">
                        <div class="container">
                            <div class="columns">
                                <div class="column is-four-fifths">

                                    <video autoplay id="video" width="320"></video>
                                    <br />
                                    <button class="button is-hidden" id="btnPlay" @onclick="PlayCAM">
                                        <span class="icon is-small">
                                            <i class="fas fa-play">Play</i>
                                        </span>
                                    </button>
                                    <button class="button" id="btnPause" @onclick="PauseCAM">
                                        <span class="icon is-small">
                                            <i class="fas fa-pause">Pause</i>
                                        </span>
                                    </button>
                                    <button class="button is-success" id="btnCapture" @onclick="CaptureFrame">
                                        <span class="icon is-small">
                                            <i class="fas fa-camera">Capture</i>
                                        </span>
                                    </button>
                                    <button class="button" id="btnChangeCamera" @onclick="SwitchCAM">
                                        <span class="icon">
                                            <i class="fas fa-sync-alt"></i>
                                        </span>
                                        <span>Switch Cam</span>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </section>
                    <canvas class="d-none" id="canvas"></canvas>
                } *@
            </div>
        }
        @if (_showHoldDialog)
        {
            <div class="modal fade show" style="display:block; background-color: rgba(10,10,10,.8);" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Hold Products</h4>
                        </div>
                        <div class="modal-body">
                            Select an Action.
                        </div>
                        <div class="modal-footer">
                            @if(_itemsToAdd.Any())
                            {
                                <button type="button" class="btn btn-outline-dark" @onclick="AddProductsOnHold">Hold</button>
                            }
                            @if (_holdTakeAway.Any())
                            {
                                <button type="button" class="btn btn-outline-dark" @onclick="ShowProductsOnHoldDialog">View Products On Hold</button>
                            }
                            <button type="button" class="btn btn-outline-secondary" @onclick="@ModalCancel">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (_showHoldDialogtable)
        {
            <div class="modal fade show" style="display:block; background-color: rgba(10,10,10,.8);" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <p class="modal-title">Hold Table and room</p>
                        </div>

                        <div class="modal-body">
                            @if(_holdTables.Any())
                            {
                                <div class="container booktablegroup" style="overflow:scroll; height:auto;">
                                
                                    <div class="row" style="display: grid; grid-template-columns: repeat(5, minmax(100px, 1fr)); grid-gap: 10px;">
                                        @foreach(var item in _holdTables)
                                        {
                                            <div class="holdtable">
                                                @if(item.IsOccupied)
                                                {
                                                    <div @onclick="@(() => ReturnItems(item.Id, "Table"))">
                                                        <img src="/images/occupied.jpeg" alt="booktable" border="0" class="booktable">
                                                        <span class="image-text-table">@item.TableName</span>
                                                    </div>
                                                }
                                                else 
                                                {
                                                    if (!_itemsToAdd.Any())
                                                    {
                                                        <img src="/images/empty.jpeg" alt="booktable" border="0" class="booktable">
                                                        <span class="image-text-table">@item.TableName</span>
                                                    }
                                                    else
                                                    {

                                                        <div @onclick="@(() => ShowPrintOption(item.Id))">
                                                            <img src="/images/empty.jpeg" alt="booktable" border="0" class="booktable">
                                                            <span class="image-text-table">@item.TableName</span>
                                                        </div>                                                      
                                                        
                                                    }                                                                                                       
                                                }                                               
                                            </div>
                                        }                                        
                                    </div>
                                </div>
                            }
                            <hr />                            
                            
                            @* @if (_holdRooms.Any())
                            {
                                <div class="container" style="overflow:scroll; height:auto;">
                                    <div class="row" style="display: grid; grid-template-columns: repeat(5, minmax(0px, 1fr)); grid-gap: 0px;">
                                        @foreach(var item in _holdRooms)
                                        {
                                            <div class="holdroom">
                                                @if(item.IsOccupied)
                                                {
                                                    <div @onclick="@(() => ReturnItems(item.Id, "Rooms"))">
                                                        <img src="/images/doorclose.png" alt="booktable" border="0" class="booktable">
                                                        <span class="image-text-door">@item.RoomName</span>
                                                    </div>
                                                }
                                                else 
                                                {
                                                    <div @onclick="@(() => HoldItems(item.Id, "Rooms"))">
                                                        <img src="/images/dooropen.png" alt="booktable" border="0" class="booktable">
                                                        <span class="image-text-door">@item.RoomName</span>
                                                    </div>
                                                }
                                            </div>
                                        }
                                        
                                    </div>
                                </div>    
                            } *@
                        </div>
                        <button type="button" class="btn btn-outline-secondary" @onclick="@ModalCanceltable">Close</button>
                    </div>
                </div>
            </div>
            
        }

        @if (_showholdtablePrintOptions)
        {
            <div class="modal fade show" style="display:block; background-color: rgba(10,10,10,.8);" role="dialog">
                <div class="modal-dialog" style="margin-top:10%;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Select the action you prefer</h5>

                        </div>
                        <div class="modal-body">
                            <div class="row printbuttongroup">
                                <div class="col" @onclick="@(() => HoldItems(_tableId,"Table"))">
                                    <button data-dismiss="modal" type="button" class="holdbuttoninsidehold">HOlD ITEM</button>
                                </div>
                                <div class="col">
                                    <button data-dismiss="modal" type="button" class="Printtokitchen">Print To Kitchen</button> @* have to apply onclick here for Printing items to kitchen *@
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" @onclick="@ClosePrintOption" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>
        }
       
        @if (_showReservedDialogtable)
        {
            <div class="modal fade show" style="display:block; background-color: rgba(10,10,10,.8);" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <p class="modal-title">Reservations</p>
                        </div>

                        <div class="modal-body">
                            <div class="container booktablegroup" style="overflow:scroll; height:auto;">
                                <div class="row" style="display: grid; grid-template-columns: repeat(5, minmax(100px, 1fr)); grid-gap: 10px;">
                                    @if (ReservationList is not null)
                                    {
                                        foreach (var item in ReservationList)
                                        {
                                            <div class="holdtable">
                                                @if (_itemsToAdd.Any())
                                                {
                                                    <div class="card">
                                                    <div @onclick="@(() => HoldItems(item.Id, "Reservation"))">
                                                        <img src="images/doorclose.png" alt="booktable" border="0" class="booktable">
                                                        <span class="image-text-table">@item.Id</span>
                                                        <span class="image-text-table">@item.CustomerFullName</span>
                                                    </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div @onclick="@(() => ReturnItems(item.Id, "Reservation"))" class="card reservationcard">
                                                        <div class="card-header">
                                                            <img src="images/doorclose.png" alt="booktable" border="0" class="booktable">
                                                            <span class="image-text-table tableno">R-@item.Id</span>
                                                        </div>
                                                        <div class="card-body">
                                                            <span class="image-text-table customername">@item.CustomerFullName</span>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                            <hr />
                        </div>
                        <button type="button" class="btn btn-outline-secondary" @onclick="@ModalCanceltable">Close</button>
                    </div>
                </div>
            </div>
        }
        @if (_showProductsOnHold)
        {
            <div class="modal fade show" style="display:block; background-color: rgba(10,10,10,.8);" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Hold Products</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Action</th>
                                        <th>Total Amount</th>
                                        <th>Discount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in _holdTakeAway)
                                    {
                                        <tr>
                                            <td>
                                                @if (!_itemsToAdd.Any())
                                                {
                                                    if(item.TotalAmount != 0)
                                                    {
                                                        <button class="btn btn-primary btn-sm" @onclick="() => AddProductsOnHoldToCashierCorner(item.Id)">Select</button>
                                                    }
                                                }
                                            </td>
                                            <td>@item.TotalAmount</td>
                                            <td>@item.DiscountAmount</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <table class="inner-table table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Title</th>
                                                            <th>Quantity</th>
                                                            <th>Unit Price</th>
                                                            <th>Individual Discount</th>
                                                            <th>Total Price</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var product in item.ProductsOnHold)
                                                        {
                                                            <tr>
                                                                <td>@product.Title</td>
                                                                <td>@product.Quantity</td>
                                                                <td>@product.UnitPrice</td>
                                                                <td>@product.Discount</td>
                                                                <td>@product.TotalPrice</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" @onclick="@ModalCancel">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (_showProductsOnHoldForTable)
        {
            <div class="modal fade show" style="display:block; background-color: rgba(10,10,10,.8);" role="dialog">
                <div class="modal-dialog modal-lg" style="margin-top:5%;height:40vh;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="d-flex">
                               
                                    <p style="font-size:22px;">Items On Hold</p>


                                <i class="fa fa-print" style="font-size:28px;   margin-left:75vh;" aria-hidden="true"></i>

                                
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="mb-2" style="text-align:right;">
                                  @if (!_itemsToAdd.Any())
                                            {
                                                if (_holdProductsView.TotalAmount != 0)
                                                {
                                                    <button class="selectbutton" @onclick="@(() => ReturnItemsToCashierCorner(_holdProductsView.Id, HoldType))">Check Out</button>
                                                }
                                            }
                            </div>
                            <table class="inner-table table table-striped" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Quantity</th>
                                        <th>Unit Price</th>
                                        <th>Individual Discount</th>
                                        <th>Total Price</th>
                                    </tr>
                                </thead>
                                <tbody style="max-height:30vh; overflow-y:scroll; overflow-x:hidden;">
                                    @foreach (var product in _holdProductsView.ProductsOnHold)
                                    {
                                        <tr>
                                            <td>@product.Title</td>
                                            <td>@product.Quantity</td>
                                            <td>@product.UnitPrice</td>
                                            <td>@product.Discount</td>
                                            <td>@product.TotalPrice</td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="5">
                                           

                                            <strong>TOTAL</strong>
                                            <span style="float:right;margin-right:5vh; ">
                                               
                                                <strong style="margin-right:3vh;">Discount:@_holdProductsView.DiscountAmount</strong> |
                                                <strong style="margin-left:3vh;">Sum Amount: @_holdProductsView.TotalAmount</strong>
                                            </span>
                                        </td>
                                    </tr>
                                </tfoot>

                            </table>

                                       
                        </div>
                        <div class="modal-footer">
                            <button type="button" style="background-color:#ceeb59;" class="btn btn-outline-secondary" @onclick="@ModalCancel">Close</button>
                        </div>
                    </div>
                </div>
                </div>
              }
        <div class="col-3">
            <div class=" card maincard3">
                <div class="container">
                    <form name="form1">
                        <input id="calc" type="text" name="answer" @bind="_calculatorAmount"> <br>
                        <div class="calcbuttons">
                            <input type="button" class="double" value="1" @onclick="() => UpdateCalculatorAmount(1.ToString())">
                            <input type="button" class="double" value="2" @onclick="() => UpdateCalculatorAmount(2.ToString())">
                            <input type="button" class="double" value="3" @onclick="() => UpdateCalculatorAmount(3.ToString())">
                            <br>
                            <input type="button" class="double" value="4" @onclick="() => UpdateCalculatorAmount(4.ToString())">
                            <input type="button" class="double" value="5" @onclick="() => UpdateCalculatorAmount(5.ToString())">
                            <input type="button" class="double" value="6" @onclick="() => UpdateCalculatorAmount(6.ToString())">
                            <br>
                            <input type="button" class="double" value="7" @onclick="() => UpdateCalculatorAmount(7.ToString())">
                            <input type="button" class="double" value="8" @onclick="() => UpdateCalculatorAmount(8.ToString())">
                            <input type="button" class="double" value="9" @onclick="() => UpdateCalculatorAmount(9.ToString())">
                            <br>
                            <input type="button" class="double" value="0" @onclick="() => UpdateCalculatorAmount(0.ToString())">
                            <input type="button" class="double" value="00" @onclick="AddDoubleZeroValue">
                            <input type="button" class="double" value="C" @onclick="ClearCalculatorAmount">
                            <br>
                            <div class="enterbuttongroup row">
                                <div class="col-5">
                                    <button class="dotabhovecancel" type="button" value="." @onclick="AddPointValue">.</button>
                                </div>
                                <div class="col-7">
                                    @if (_calculatorAmount == "" && _selectedProduct != null)
                                    {
                                        <button type="button" class="enterbutton"><br>ENTER</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="enterbutton" @onclick="CalculateTotalAmount"><br>ENTER</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="container calcbuttongroup">
                    <div class="row">
                        <div class="col">
                            <button type="button" class="cancelbutton" @onclick="ClearCalculatorAmount">CANCEL</button>
                        </div>
                        <div class="col">

                            @if (_itemsToAdd.Any())
                            {
                                <button type="button" class="tenderbutton" @onclick="Tender"><br>TENDER</button>
                            }
                            else
                            {
                                <button type="button" class="tenderbutton" disabled><br>TENDER</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
else
{
    <div class="cashpage row">
        <div class="tab-cont col-lg col-md-1 col-lg">
            <button class="but butfirst" @onclick="() => SwitchTenderView(1)" style=" border-top: 3px solid #fff;margin-top:5px;">
                <i class="fa fa-user customericon" aria-hidden="true"></i>
                <p class="navtext">CUSTOMER</p>
            </button>
            <button class="but" @onclick="() => SwitchTenderView(2)">
                <i class="fa-solid fa-money-bill cashicon"></i>
                <p class="navtext cashnavtext">Cash</p>
            </button>
            <button class="but" @onclick="() => SwitchTenderView(6)">


                <i class="fa-solid fa-arrows-split-up-and-left spliticon"></i>
                <p class="navtext cashnavtext">Split</p>
            </button>
            <button class="but" @onclick="() => SwitchTenderView(3)">
                <i class="fa-regular fa-credit-card cardicon"></i>
                <p class="navtext cardnavtext">Card</p>
            </button>
            <button class="but" @onclick="() => SwitchTenderView(4)">
                <i class="fa fa-qrcode qricon" aria-hidden="true"></i>
                <p class="navtext">SCAN</p>
            </button>
            <button class="but" @onclick="() => SwitchTenderView(5)">
                <i class="fa-solid fa-book remarkicon"></i>
                <p class="navtext">REMARKS</p>
            </button>
        </div>
        <div class="col-lg-10 col-md-4 col-lg-10">
            @if (_showCashView)
            {
                <div class="tab-content " id="cash">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-md-6 cashleftside">
                                <p>
                                    <a @onclick="OnGoBackClick">
                                        <i class="fa fa-arrow-left backarrow" aria-hidden="true"></i>
                                    </a>
                                </p>
                                <span class="customer">CUSTOMER :</span>
                                @if (_customer != null)
                                {
                                    <span class="customername">@_customer.FirstName @_customer.LastName</span>
                                }
                                else
                                {
                                    <span class="customername"></span>
                                }
                                <hr>
                                <div class="billtable">
                                    <table>
                                        <tr>
                                            <th>Total Amount</th>
                                            
                                            <td>Rs. @String.Format("{0:0.00}", _totalAmount)</td>

                                        </tr>
                                        <tr>
                                            <th>Tender</th>
                                            
                                            <td>Rs. @String.Format("{0:0.00}", TotalAmount)</td>


                                        </tr>
                                        <tr>
                                            <th>Return</th>
                                           
                                            <td>Rs. @String.Format("{0:0.00}", ReturnAmount)</td>

                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="card maincard3">
                                    <form name="form2">
                                        <form name="form1">
                                            <input id="calc" type="text" name="answer" @bind="_tenderAmount"> <br> <br>
                                            <div class="calcbuttons">
                                                <input type="button" class="double" value="1" @onclick="() => UpdateCalculatorAmount(1.ToString())">
                                                <input type="button" class="double" value="2" @onclick="() => UpdateCalculatorAmount(2.ToString())">
                                                <input type="button" class="double" value="3" @onclick="() => UpdateCalculatorAmount(3.ToString())">
                                                <br>
                                                <input type="button" class="double" value="4" @onclick="() => UpdateCalculatorAmount(4.ToString())">
                                                <input type="button" class="double" value="5" @onclick="() => UpdateCalculatorAmount(5.ToString())">
                                                <input type="button" class="double" value="6" @onclick="() => UpdateCalculatorAmount(6.ToString())">
                                                <br>
                                                <input type="button" class="double" value="7" @onclick="() => UpdateCalculatorAmount(7.ToString())">
                                                <input type="button" class="double" value="8" @onclick="() => UpdateCalculatorAmount(8.ToString())">
                                                <input type="button" class="double" value="9" @onclick="() => UpdateCalculatorAmount(9.ToString())">
                                                <br>
                                                <input type="button" class="double" value="0" @onclick="() => UpdateCalculatorAmount(0.ToString())">
                                               <input type="button" class="double" value="00" @onclick="AddDoubleZeroValue">
                                                <input type="button" class="double" value="C" @onclick="ClearCalculatorAmount">
                                                <br>
                                            </div>
                                        </form>
                                        
                                        <div class="container calcbuttongroup">
                                            <div class="row">
                                                <div class="col">
                                                    <button type="button" class="enterbutton" @onclick="CalculateTenderAmount"><i class="fa-solid fa-square-check tendericon"></i><br>ENTER</button>
                                                </div>
   
                                                <div class="col">
                                                    @if(_itemsToAdd.Any())
                                                    {
                                                        <button type="button" class="enterbutton" @onclick="OpenTenderOption"><i class="fa-solid fa-square-check tendericon"></i><br>TENDER</button>
                                                    }
                                                    else
                                                    {
                                                        <button type="button" class="enterbutton" disabled><i class="fa-solid fa-square-check tendericon"></i><br>TENDER</button>
                                                    }
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                                                   
            }
            @if (_showPrintOption)
            {
                <div class="modal fade show" style="display:block; background-color: rgba(10,10,10,.8);" role="dialog">
                    <div class="modal-dialog modal-lg" style="margin-top:13%;">
                        <div class="modal-content">
                            <div class="modal-header row">
                                <div class="col-11">
                                    <p class="modal-title">Do you want to print the receipt?</p>
                                </div>
                                <div class="col-1">
                                    <p @onclick="CloseTenderOption" class="pt-3">
                                        <i class="fa-solid fa-xmark" style="font-size:32px;"></i>
                                    </p>
                                </div>
                            </div>
                            <div class="justify-content-center">
                                <div class="row">

                                    <div class="col">
                                        <button type="button" class="yesnobutton no" @onclick="() => TenderSales(false)">
                                            <i class="fa fa-ban" aria-hidden="true"></i>
                                            <br />NO
                                        </button>
                                    </div>

                                    <div class="col" style="text-align:center;">
                                        <button type="button" class="yesnobutton yes" @onclick="() => TenderSales(true)">
                                            <i class="fa-solid fa-check"></i><br />YES
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (_showCardView)
            {
                <div class="tab-content" id="card">
                    <div class="container">
                        <div class="row">
                            <p><a @onclick="OnGoBackClick"><i class="fa fa-arrow-left backarrow" aria-hidden="true"></i></a>
                            </p>
                            <span class="customer">CUSTOMER : @_customer.FirstName @_customer.LastName</span>
                            <hr>
                            <div class="col-lg-8 col-md-6 ">
                                <div class="card cardscard">
                                    <p> <span>TOTAL AMOUNT :</span> <span>Rs @_totalAmount</span></p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <form name="form2">
                                    <input id="calc" type="text" name="answer">
                                    <div class="calcbuttons calculator row">
                                        <div class="tenderbtngroup">
                                           
                                                <button type="button" class="tenderbutton" @onclick="OpenTenderOption2">
                                                        <i class="fa fa-check-square" aria-hidden="true">
                                                        <p class="tender" >TENDER</p>
                                                        </i>
                                                    </button>
                                             
                                           
                                        </div>
                                        <br>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (_showScanView)
            {
                <div class="tab-content" id="qr">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-md-6">
                                <p><a @onclick="OnGoBackClick"><i class="fa fa-arrow-left backarrow" aria-hidden="true"></i></a>
                                </p>
                                <span class="customer">CUSTOMER :</span>
                                <span class="customer">@_customer.FirstName @_customer.LastName</span>
                                <hr>
                                <div>
                                    <span>
                                        <p class="scantopay">SCAN TO CONTINUE
                                        </p>
                                    </span>
                                    <hr>
                                </div>
                                <img src="https://cdn.britannica.com/17/155017-050-9AC96FC8/Example-QR-code.jpg" alt="QR" class="qrcode">
                            </div>
                            <div class="col-lg-4 col-md-6 card qrrightcard">
                                <div>
                                    <p class="qramounttext">TOTAL AMOUNT</p>
                                    <p class="qramount">RS @_totalAmount</p>
                                </div>
                                <div class="calcbuttons">
                                    <div class="row">
                                        <div class="col">
                                        
                                        </div>
                                        <div class="col">

                                            <button type="button" class="tenderbutton" @onclick="OpenTenderOption2"><i class="fa fa-check-square tendericon" aria-hidden="true"></i><div class="tender">TENDER</div></button>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (_showSplitView)
            {
                <div class="tab-content " id="cash">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-md-6 cashleftside">
                                  <div class="tableone">
                                    <table>
                                       <tr>
                                           <td class="totalamttd">TOTAL AMOUNT</td>
                                           <td class="totalamtamt">Rs.1900</td>
                                       </tr>
                                       <tr>
                                           <td class="paymentstd">PAYMENTS</td>
                                           <td>
                                               <div class="d-flex">
                                                   <button class="plusbutton"><i class="fa fa-plus"></i></button>
                                                   <p class="increasedecreasenum">3</p>
                                                    <button class="plusbutton"><i class="fa fa-minus"></i></button>

                                               </div>
                                           </td>
                                           </tr>
                                    </table>
                                </div>
                                <div class="tabletwo">
                                    <table>
                                    <tr>
                                        <td>
                                            <select class="paymenttypeselect">
                                            <option selected disabled>Payment Type</option>
                                            <option>Cash</option>
                                            <option>Scan</option>
                                            <option>Card</option>
                                        </select>  
                                        </td>
                                        <td>Rs. 633</td>
                                        <td class="tendertd">Tender</td>
                                    </tr>
                                        <tr>
                                            <td>
                                                <select class="paymenttypeselect">
                                                    <option selected disabled>Payment Type</option>
                                                    <option>Cash</option>
                                                    <option>Scan</option>
                                                    <option>Card</option>
                                                </select>
                                            </td>
                                            <td>Rs. 633</td>
                                            <td class="voidtd">Void</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <select class="paymenttypeselect">
                                                    <option selected disabled>Payment Type</option>
                                                    <option>Cash</option>
                                                    <option>Scan</option>
                                                    <option>Card</option>
                                                </select>
                                            </td>
                                            <td>Rs. 633</td>
                                            <td class="tendertd">Tender</td>
                                        </tr>
                                    </table>
                                    </div>
                                <hr>
                                
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="card maincard3">
                                    <form name="form2">
                                        <form name="form1">
                                            <input id="calc" type="text" name="answer" @bind="_tenderAmount"> <br> <br>
                                            <div class="calcbuttons">
                                                <input type="button" class="double" value="1" @onclick="() => UpdateCalculatorAmount(1.ToString())">
                                                <input type="button" class="double" value="2" @onclick="() => UpdateCalculatorAmount(2.ToString())">
                                                <input type="button" class="double" value="3" @onclick="() => UpdateCalculatorAmount(3.ToString())">
                                                <br>
                                                <input type="button" class="double" value="4" @onclick="() => UpdateCalculatorAmount(4.ToString())">
                                                <input type="button" class="double" value="5" @onclick="() => UpdateCalculatorAmount(5.ToString())">
                                                <input type="button" class="double" value="6" @onclick="() => UpdateCalculatorAmount(6.ToString())">
                                                <br>
                                                <input type="button" class="double" value="7" @onclick="() => UpdateCalculatorAmount(7.ToString())">
                                                <input type="button" class="double" value="8" @onclick="() => UpdateCalculatorAmount(8.ToString())">
                                                <input type="button" class="double" value="9" @onclick="() => UpdateCalculatorAmount(9.ToString())">
                                                <br>
                                                <input type="button" class="double" value="0" @onclick="() => UpdateCalculatorAmount(0.ToString())">
                                                <input type="button" class="double" value="00" @onclick="AddDoubleZeroValue">
                                                <input type="button" class="double" value="C" @onclick="ClearCalculatorAmount">
                                                <br>
                                            </div>
                                        </form>

                                        <div class="container calcbuttongroup">
                                            <div class="row">
                                                <div class="col">
                                                    <button type="button" class="enterbutton" @onclick="CalculateTenderAmount"><i class="fa-solid fa-square-check tendericon"></i><br>ENTER</button>
                                                </div>

                                                <div class="col">
                                                    @if (_itemsToAdd.Any())
                                                    {
                                                        <button type="button" class="enterbutton" @onclick="OpenTenderOption"><i class="fa-solid fa-square-check tendericon"></i><br>TENDER</button>
                                                    }
                                                    else
                                                    {
                                                        <button type="button" class="enterbutton" disabled><i class="fa-solid fa-square-check tendericon"></i><br>TENDER</button>
                                                    }
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
            @if (_showCustomerView)
            {
                <div class="tab-content" id="customer">
                    <div class="container">
                        <p><a @onclick="OnGoBackClick"><i class="fa fa-arrow-left backarrow" aria-hidden="true"></i></a>
                        </p>
                        <div class="d-flex">
                            <input type="text" name="" class="customernamesearch" @bind="@_searchCustomer">
                            <button type="button" class="btn addcustomerbutton" id="searchcustomer" @onclick="SearchCustomer">Search Customer</button>
                            <button type="button" class="btn addcustomerbutton" id="addcustomer" @onclick="ShowAddCustomer">Add Customer</button>
                        </div>
                        
                        @if (customersList != null && customersList.Any())
                        {
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Contact</th>
                                            <th>Select</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var customer in customersList)
                                        {
                                            if (customer.Id == _customer?.Id)
                                            {
                                                <tr>
                                                    <td class="fw-bold">@customer.FirstName</td>
                                                    <td class="fw-bold">@customer.LastName</td>
                                                    <td class="fw-bold">@customer.Contact</td>
                                                    <td>
                                                        <button type="button" class="btn btn-primary btn-sm @(customer.Id == (_customer?.Id ?? -1) ? "btn-selected" : "")" @onclick="() => HandleCustomerSelection(customer.Id)" style="background-color:#082248;">Select</button>
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td>@customer.FirstName</td>
                                                    <td>@customer.LastName</td>
                                                    <td>@customer.Contact</td>
                                                    <td>
                                                        <button type="button" class="btn btn-primary btn-sm @(customer.Id == (_customer?.Id ?? -1) ? "btn-selected" : "")" @onclick="() => HandleCustomerSelection(customer.Id)">Select</button>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>                             
                            </div>                           
                        }
                        else
                        {
                            <p>No customers found.</p>
                        }

                        @if (_showAddCustomerView)
                        {
                            <div id="customertab">
                                <br><br>
                                <div id="customertab">
                                    <p class="addcustomerhead">Add Customer</p>
                                    <hr class="belowaddcusline">
                                    <form class="mb-1 mt-md-4" @onsubmit="AddCustomer">
                                        <div class="row">
                                            <div class="col">
                                                <p class="sticknameandinput">First Name<sup>*</sup></p>
                                                <input class="addcustomerinputs" type="text" @bind="@_addCustomer.p_first_name" required="required">
                                                <br><br>
                                                <p class="sticknameandinput mt-3">Contact<sup>*</sup></p>
                                                <input class="addcustomerinputs" type="text" @bind="@_addCustomer.p_contact" required="required">
                                                <div>
                                                    <br>
                                                    <a class="customercancel" @onclick="CloseCustomerDialog">Cancel<sup>*</sup></a>
                                                    <button class="customersubmit" type="submit">Submit</button>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <p class="sticknameandinput">Last Name<sup>*</sup></p>
                                                <input class="addcustomerinputs" type="text" @bind="@_addCustomer.p_last_name" required="required">
                                                <br><br>
                                                <p class="sticknameandinput mt-3">Address<sup>*</sup></p>
                                                <input class="addcustomerinputs" type="text" @bind="@_addCustomer.p_address" required="required">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            @if (!string.IsNullOrEmpty(_message))
                            {
                                <span>@_message</span>
                            }
                        }
                    </div>
                </div>
            }
            @if (_showRemarksView)
            {
                <div class="tab-content" id="remarks">
                    <div class="container">
                        <p><a @onclick="OnGoBackClick"><i class="fa fa-arrow-left backarrow" aria-hidden="true"></i></a>
                        </p>
                        <p class="remarkstext">REMARKS</p>
                        <div class="card m-5 remarkscard container">
                            <form action="" class="mt-2">
                                <div class="container">
                                    <div class="row">
                                        <div class="col selectors">
                                            <p><input type="checkbox" name="">Color can fade</p>
                                            <p><input type="checkbox" name="">option can be anything</p>
                                            <p><input type="checkbox" name="">other</p>
                                        </div>
                                        <div class="col selectors">
                                            <p><input type="checkbox" name="">Holes on cloth</p>
                                            <p><input type="checkbox" name="">option can be anything</p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}