@page "/sale"
@using TheHighInnovation.POS.Web.Services.Base
@inject BaseService BaseService
@inject HttpClient Http
@inject IJSRuntime _jsRuntime

<div class="salepage">
    <div class="card filter-section">
        <div class="card-body">
            <form @onsubmit="@HandleFilter">
                <div class="row">
                    <div class="col-2">
                        <label class="filterby d-flex"> <i class="fa-solid fa-filter mt-1"></i> Filter By:</label>
                    </div>
                  
                    <div class="col">
                        <label class="required">Start Date</label>
                        <input type="text" class="form-control nepali-datepicker" @bind="Filter.StartDate">
                    </div>
                    
                    <div class="col">
                        <label class="required">End Date</label>
                        <input type="text" class="form-control nepali-datepicker" @bind="Filter.EndDate" max="@DateTime.Now">
                    </div>
                   
                    <div class="col">
                        <label class="required">Transaction</label>
                        <select aria-required="true" class="form-select" required @onchange="OnOptionSelection">                            
                            <option value="All">All</option>
                            <option value="Cash">Cash</option>
                            <option value="QR Scan">QR Scan</option>
                            <option value="Card">Card</option>
                        </select>	                
                    </div>
                    <div class="col text-center">
                        <button type="submit" value="Search" data-bs-toggle="tooltip" data-bs-placement="top" title="Click here, to search records" class="searchbutton">
                            <span class="mdi mdi-magnify search-icon"></span> Search
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    @if (Filter.IsInitialized)
    {
        <div class="row searchlinegroup">
            <div class="col-8">
                @if (_pagerDto.TotalPages > 0)
                {
                    <span class="selecttext">Current Entries:</span>
                    <select class="selectcompany" @onchange="HandlePaginationChange">
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                    </select>
                }
            </div>
            <div class="col-4" style="text-align:right;">
                <span class="searchtext">Search:</span> 
                <Input type="text" class="searchinput"/>
            </div>
        </div>
        <table class="saletable">
            <thead>
            <tr>
                <th>Invoice No</th>
                <th>Receipt</th>
                <th>Date/Time</th>
                <th>Price</th>
                <th>Sales Type</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in _sales)
            {
                <tr class="mt-3">
                    <td># @item.Id</td>
                    <td>
                        <span @onclick="() => OpenSalesRecord(item.Id)">
                            <i class="fa-solid fa-eye"></i>
                        </span>
                    </td>
                    <td>@item.DateTime.ToString("dd-MM-yyyy h:mm:ss tt")</td>
                        <td>@item.TotalAmountAfterDiscount</td>
                    <td>@item.TransactionOption</td>
                </tr>
            }
            </tbody>
        </table>
        @if (_pagerDto.TotalPages > 0)
        {
            <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12 d-flex justify-content-start">
                    
                </div>
                <div class="col-lg-9 col-md-12 col-sm-12 d-flex pagination-wrapper mt-3 justify-content-end align-items-center ">
                    <ul class="pagination justify-content-end">
                        @if (_pagerDto.CurrentPage > 1)
                        {
                            <li class="page-item pointer px-1">
                                <a class="page-link" @onclick="() => OnPagination(1)">First</a>
                            </li>
                            <li class="page-item pointer px-1">
                                <a class="page-link" @onclick="() => OnPagination(_pagerDto.CurrentPage - 1)">Previous</a>
                            </li>
                        }
                        @if (_pagerDto.TotalPages > 1)
                        {
                            for (var pageItem = _pagerDto.StartPage; pageItem <= _pagerDto.EndPage; pageItem++)
                            {
                                var currentPageItem = pageItem; 
                                <li class="page-item pointer px-1 @(currentPageItem == _pagerDto.CurrentPage ? "active" : "")">
                                    <a class="page-link" @onclick="() => OnPagination(currentPageItem)">@currentPageItem</a>
                                </li>
                            }
                        }
    
                        @if (_pagerDto.CurrentPage < _pagerDto.TotalPages && _pagerDto.TotalItems > _pagerDto.PageSize)
                        {
                            <li class="page-item pointer px-1">
                                <a class="page-link" @onclick="() => OnPagination(_pagerDto.CurrentPage + 1)">Next</a>
                            </li>
                            <li class="page-item pointer px-1">
                                <a class="page-link" @onclick="() => OnPagination(_pagerDto.TotalPages)">Last</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            
        }
        
        @if (OpenSalesRecordDialog)
        {
                <ModalDialog Title="Sales Record" OnClose="CloseSalesRecord" OkLabel="Close" ShowCloseButton="false">

                <p>Customer Name : @_salesRecord.CustomerFullName</p>
                <p>CashierName : @_salesRecord.CashierName</p>
                <table class="saletable">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Product Amount</th>
                        <th>Discount Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in _salesDetails)
                    {
                        <tr class="mt-3">
                            <td># @item.Id</td>
                            <td>@item.ProductName</td>
                            <td>@item.Quantity</td>
                            <td>@item.ProductAmount</td>
                            <td>@item.DiscountAmount</td>
                        </tr>
                    }
                    </tbody>
                </table>
                <p>Total Amount : @_salesRecord.TotalAmountAfterDiscount</p>
            </ModalDialog>
        }
    }
</div>